body
{
	background-image: linear-gradient(rgb(255, 4, 4), rgb(243, 202, 20), rgb(233, 250, 0), rgb(166, 255, 0),rgb(0, 110, 255),rgb(0, 4, 255),rgb(183, 0, 255),rgb(255, 30, 0));
}

	.login_div1 , .login_div2
	{
		background-image: linear-gradient(rgb(255, 4, 4), rgb(243, 202, 20));
		padding: 10px;
		float: none;
		border-radius: 6px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
